/*********************RESPONSIVE MOBILES ET TABLETTES**************/

@@media all and (max-width: 1024px) {
    #bloc_page {
        width: auto;
    }
}



/*Photo ronde*/
.rounded-circle {
    height: 180px;
    width: 180px;
    margin-top: 30px;
    margin-bottom: 30px;
    border: 3px solid blue;
   

}


.col-sm-6 {
    background-color: #29B6F6;
}


.photo.col-sm-6 {
    background-color: #29B6F6;
    text-align: center;
}

.infos.col-sm-6 {
    background-color: #29B6F6;
}

.col-sm-6 {
    margin-right: 30px;
}

.resume col-sm-8 {
    background-color: white;
}
/*Prénom */
.name {
    color: #29B6F6;
    padding-left: 20px;
}

/*nom prénom*/

.h1 {
    padding-top: 30px;
    font-weight: bold;
    padding-left: 30px;
}

 /*job*/
h2 {
    padding-left: 30px;
    font-weight: bold;
}

/*titre description section*/
h3 {
    margin-left: 40px;
    border-bottom: 2px solid #29B6F6;
    padding-bottom: 10px;
    font-weight: bold;
    padding-left: 30px;
    font-weight: 300;
   }

/*bordures h4*/
h4.darkborder {
    color: #29B6F6;
    background-color: #404040;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    max-width: 100%;
   
   
}

#text {
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
   
}

.text1 {
    padding-left: 10px;
   
}

.text2 {
    padding-left: 10px;
    padding-bottom: 40px;
    padding-top: 40px;
    }

p {
    margin: 30px;
    padding-top: 10px;
    text-align: justify;
}

/*Icônes*/
.fa {
    border: 3px solid black;
    border-radius: 100%;
    display: inline-block;
    text-decoration-color: black;
    padding: 4px 4px;
    margin: 4px 4px;
}

.far, .fad, .fas {
    color: #29B6F6;
}

/*dimensionnement des boites*/
.selector-for-some-widget {
    box-sizing: content-box;
}

/*Trait sous titre h2*/
.underline {
    text-decoration-line: underline;
    text-decoration-color: #29B6F6;
    padding-left: 30px;
}

.lineheight {
    line-height: 10px;
    margin-left: 0px;
    }

.boite {
    display: flex;
}

.titre1 {
    font-weight: bold;
}

.titre2 {
    margin-left: 0px;
}

.titre3 {
    font-weight: bold;
}

.container-fluid {
    /* Largeur Fluide et liquide, changer le 1000px par 100% */
    max-width: 1000px;
    /* Centre le conteneur dans la page */
    margin: 20px auto;
}

aside {
   
    background-color: #29B6F6;
}


