/*********************RESPONSIVE MOBILES ET TABLETTES**************/

@media (min-width: 480px) and (max-width:780px) {
.bloc {
     display: block;
     clear: both;
    }
}

@media (min-width: 781px) and (max-width:979px) {
.bloc {
    display: block;
    clear: both;
    }
}

/*Photo ronde*/
.rounded-circle {
    height: 180px;
    width: 180px;
    margin-top: 30px;
    margin-bottom: 30px;
    border: 3px solid blue;
 }

.photo.col-md-4 {
    background-color: #29B6F6;
    text-align: center;
}

/*Prénom */

.name {
    color: #29B6F6;
    padding-left: 20px;
}

/*nom prénom*/

h1 {
    padding-top: 30px;
    font-weight: bold;
}

 /*job*/
h2 {
    
    padding-top: 5px;
    padding-left: 20px;
    font-weight: bold;
}

/*titre description section*/
h3 {
    margin-left: 30px;
    border-bottom: 2px solid #29B6F6;
    padding-bottom: 10px;
 }

.text1 {
    padding-left: 10px;
    padding-bottom: 20px;
    padding-top: 10px;
}

.text2 {
    padding-left: 20px;
    padding-bottom: 30px;
    padding-top: 30px;
    }

#text {
    
}


/*bordures h4*/
h4.darkborder {
    color: #29B6F6;
    background-color: #404040;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    max-width: 100%;
}

p {
    text-align: justify;
    padding: 5px;
    margin: 5px;
}

.col-md-4 {
    padding: 5px 0px 5px 0px;
}

.infos.col-md-4 {
    background-color: #29B6F6;
    padding-left: 35px;
}

/*Icônes*/
.fa-stack {
    display: inline-block;
    height: 5em;
    line-height: 4em;
    position: relative;
    width: 2em;
    color: black;
    
}

.far, .fad, .fas {
    color: #29B6F6;
}

/*section adresse*/
.address {
    padding: 30px 0px 30px 0px;


}

/*dimensionnement des boites*/
.selector-for-some-widget {
    box-sizing: content-box;
}

/*Trait sous titre h2*/
.underline {
    text-decoration-line: underline;
    text-decoration-color: #29B6F6;
}

.lineheight {
    line-height: 40px;
    font-size: 15px;
}
