/*********************RESPONSIVE MOBILES ET TABLETTES**************/

@media (min-width: 480px) and (max-width:780px) {
.bloc {
     display: block;
     clear: both;
    }
}

@media (min-width: 781px) and (max-width:979px) {
.bloc {
    display: block;
    clear: both;
    }
}

.rounded-circle {
    height: 180px;
    width: 180px;
    margin-top: 30px;
    margin-bottom: 30px;
    
}

.photo.col-md-4 {
    background-color: #feca07;
    text-align: center;
}

/*couleur du prénom */

.name {
    color: #feca07;
    padding-left: 20px;
}


h1 {
    padding-top: 30px;
    font-weight: bold;
}
h2 {
    text-decoration-line: underline;
    text-decoration-color: #feca07;
    
    padding-top: 5px;
    padding-left: 20px;
    font-weight: bold;
}

.text1 {
    padding-left: 10px;
    padding-bottom: 20px;
    padding-top: 10px;
}

.text2 {
    padding-left: 20px;
    padding-bottom: 30px;
    padding-top: 30px;
    
}


h3, h {
    text-decoration-color: #feca07;
    text-decoration-line: underline;
    text-decoration-style: solid;
    margin-left: 20px;
}


h4.darkborder {
    color: #feca07;
    background-color: #455A64;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    max-width: 100%;
}

#text {
    padding-left: 30px;
    margin-top: 40px;
    margin-bottom: 40px;
}

p {
    text-align: justify;
    padding: 5px 0px 5px 0px;
}

.col-md-4 {
    padding: 5px 0px 5px 0px;
}


.infos.col-md-4 {
    background-color: #feca07;
    padding-left: 35px;
}

.fa-stack {
    display: inline-block;
    height: 4em;
    line-height: 4em;
    position: relative;
    vertical-align: central;
    width: 5em;
    color: feca07;
}

.fa, .far, .fad, .fas {
    color: #feca07
}

address {
    padding: 30px 0px 30px 0px;
}

.lineheight {
    padding: 60px 0px 60px 0px;
}




